<!-- 지영님. 김신록입니다. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>펠롱 파티 in 양양써피비치</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function isCellPhone(p) {
            var regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        function order() {
            let name = $('#order_name').val();
            let sex = $('#order_sex').val();
            let count = $('#order_count').val();
            let address = $('#order_address').val();
            let phone = $('#order_phone').val();

            if (name == '') {
                alert('이름을 입력해주세요')
                $('#order_name').focus()
                return
            } else if (sex == '') {
                alert('성별을 입력해주세요')
                $('#order_sex').focus()
                return
            } else if (count == '') {
                alert('수량을 입력해주세요')
                $('#order_count').focus()
                return
            } else if (address == '') {
                alert('주소를 입력해주세요')
                $('#order_address').focus()
                return
            } else if (phone == '') {
                alert('휴대폰번호를 입력해주세요')
                $('#order_phone').focus()
                return
            } else if (!isCellPhone(phone)) {
                alert('휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요');
                $('#order_phone').focus();
                return
            }

            make_card();
        }

        function make_card() {
            let name = $('#order_name').val();
            let sex = $('#order_sex').val();
            let count = $('#order_count').val();
            let address = $('#order_address').val();
            let phone = $('#order_phone').val();

            let temp_html = '<tr>\
            <td>'+ name + '</td>\
            <td>'+ sex + '</td>\
            <td>'+ count + '</td>\
            <td>'+ address + '</td>\
            <td>'+ phone + '</td>\
          </tr>';
            $('#orders-box').append(temp_html);

            clear()
        }

        function clear() {
            $('#order_name').val('');
            $('#order_sex').val('');
            $('#order_count').val('');
            $('#order_address').val('');
            $('#order_phone').val('');
        }
    </script>

    <style type="text/css">
        * {
            font-family: 'Stylish', sans-serif;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .img {
            background-image: url('http://ldb.phinf.naver.net/20190709_66/15626376466325g6Oe_JPEG/thumb_1242x816.jpg');
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 300px;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .user-info {
            margin: 20px 5px auto 5px;
        }

        h1,
        h5 {
            display: inline;
        }

        .order {
            text-align: center;
        }

        .orders {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="img"></div>
        <div class="info">
            <h1>펠롱 런칭파티에 초대합니다</h1>
            <h5>8/29</h5>
            <p>이 파티는 양양 써피비치와 함께 합니다. 선착순 여 50, 남 50 입장 가능합니다. 참석하시는 모든 분에게 제주펠롱에일 1병이 제공됩니다.</p>
        </div>
        <div class="info">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">신청자 이름</span>
                </div>
                <input type="text" class="form-control" id="order_name" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">성별</span>
                </div>
                <select class="custom-select" id="order_gender">
                    <option selected value=""> -- 성별을 입력해주세요 -- </option>
                    <option value="female">여성</option>
                    <option value="male">남성</option>
                    <option value="unisex">혼성</option>
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">참석자수</label>
                </div>
                <select class="custom-select" id="order_count">
                    <option selected value=""> -- 참석하시는 인원수를 선택하세요 -- </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">주소(동까지만 입력)</span>
                </div>
                <input type="text" class="form-control" id="order_address" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">전화번호</span>
                </div>
                <input type="text" class="form-control" id="order_phone" aria-describedby="basic-addon3">
            </div>
            <div class="order">
                <button onclick="order()" type="button" class="btn btn-primary">신청하기</button>
            </div>
        </div>
    </div>
</body>

</html>